html, body, section, article,
h1, h2, h6, p, strong, em{
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

@font-face {
  font-family: 'SuperMario';
  src: url("../fonts/emulogic.ttf");
}



#arrows {
  width: 150px;
  height: 150px;
  position:relative;
  left: 100px;
}

#avoidEnemy {
  display: flex;
  align-items: center;
}

#pikachu {
  position: relative;
    right: 50px;
    top: 50px;
  width: 100px;
  height: 100px;
}
#pokeball {
  width: 150px;
  height: 150px;
}

#move-message {
  position: relative;
  font-family: Hind;
font-size: 30px;
right: 80px;
top: 10px;
}

#avoid-message {
  font-family: Hind;
  font-size: 30px;
  margin-right: 50px;
}

#berry {
  width: 100px;
  height: 100px;
}

#berryCollect {
  display: flex;
  align-items: center;
  font-family: Hind;
}

#clear {
  position: absolute;
  width: 1200px;
  height: 650px;
  border: 5px solid black;
  background: white
}

#clear p {
  font-family: Montserrat;
  font-size: 40px;
  text-align: center;
  font-weight: 900;
}

#click-to-play {
  margin-top: 50px;
}

#click-to-play p{
  font-size: 50px;
}

#collect-message {
  font-size: 30px;
  position: relative;
  right: 50px;
}

.contacts {
  position: absolute;
  z-index: 1;
  left: 8px;
  top: 5px;
}

.fa {
  font-size: 30px;
}

.fa-volume-up {
  position:relative;
  left:10px;
  cursor: pointer;
  margin-left:auto;
}
.fa-volume-off {
  position: relative;
  right: 5px;
  cursor: pointer;
  margin-left:auto;
}

.flex {
  display: flex;
  justify-content: space-around;
  width: 80%;
margin: auto;
margin-top: 20px;
}

#game-area {
  display: block;
  margin: auto;
  width: 1200px;
  height: 650px;
}

#game-area button{
    position: relative;
    margin: auto;
    left: 530px;
    top: 115px;
    padding: 8px 8px;
    border-radius: 100px;
    background: white;
    border: 1px black solid;
    width: 150px;
    font-size: 18px;
}

button:focus {
  outline:none;
}
button:hover {
  cursor:pointer;
  opacity: 0.8;
}

.game-description {
  background: white;
  padding: 15px;
  border: 1px solid black;
  position: relative;
  left: 5px;
  width: 680px;
  display: block;
  margin: auto;
  margin-top: 30px;
  font-family: Hind;
  line-height: 1.5;
}


.headline {
  font-family: Montserrat;
  font-size: 50px;
  text-align: center;
  color: #fffc5b;
  text-shadow: -1px 0 #0000e6, 0 1px #0000e6, 1px 0 #0000e6, 0 -1px #0000e6;
}

html {
  background: url("../images/wallpaper.jpg");
  background-size: 120%;
  background-position: 40% 28%;
  height: 100vh;
}

h6 {
  position: relative;
  top: 5px;
  background: white;
}

img {
  width: 60px;
}

#instructions {
  display: flex;
  margin: auto;
  width: 1200px;
  justify-content: space-between;
  font-family: Hind;
}

.player-canvas {
  position: absolute;
  border: 5px black solid;
}

#pidgey {
  width: 100px;
  height: 100px;
  margin-left: 30px;
}

#pikachuMove {
  position: relative;
bottom: 20px;

    right: 50px;
}

#pokeball {
  width: 100px;
  height: 100px;
}

#win-message {
  font-family: Hind !important;
  font-size: 30px !important;
  font-weight: normal !important;
  margin-top: 20px;
}
